@use "../../../styles/settings/variables.scss" as variable;
@use "../../../styles/fondation/typography.scss" as typo;
.item {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  &__title {
    margin-top: 16px;
    font-size: variable.$fs-site-mobile-h3;
    font-weight: 400;
    &--number {
      margin-right: 16px;
      font-family: typo.$secondary-typography;
    }
  }
  .item__content {
    margin-top: 16px;
    font-family: typo.$primary-typography;
    .item__content--introduction {
      line-height: 24px;
      font-weight: 500;
    }
    .item__content--core {
      line-height: 25.6px;
      margin-top: 32px;
    }
    .item__content--conclusion {
      line-height: 25.6px;
      margin-top: 24px;
    }
    .item__break--ipad,
    .item__break--desktop {
      display: none;
    }
  }
  .item__media {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 32px;
    img {
      width: 288px;
      height: 177px;
      border-radius: 16px;
    }
  }
  .item__link {
    margin: 39.5px auto 32.45px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    &--txt {
      font-family: typo.$secondary-typography;
      font-weight: 700;
    }
    &--arrow {
      width: 21px;
      height: 21px;
      rotate: -45deg;
    }
  }
}
