@use "../../styles/settings/variables.scss" as variable;

.contactLayout__bg {
  min-height: 100vh;
  min-width: 100vw;
  background: url("../../assets/images/bg_contact_mobile.webp") center/cover
    no-repeat;
  position: relative;
  &--button {
    position: absolute;
    top: 8px;
    left: 8px;
  }
}
.contactLayout__form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
