@use "../../styles/settings/variables.scss" as variable;
.contactLayout {
  @media (min-width: 768px) {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  @media (768px <= width <= 1024px) {
    gap: 32px;
  }
}
.contactLayout__bg {
  min-height: 100vh;
  min-width: 100vw;
  background: url("../../assets/images/bg_contact_mobile.webp") center/cover
    no-repeat;
  position: relative;
  @media (min-width: 768px) {
    background: url("../../assets/images/bg_contact_desktop.webp") center/cover
      no-repeat;
    min-width: 0vw;
    width: 50vw;
  }
  &--button {
    position: absolute;
    top: 8px;
    left: 8px;
    @media (768px <= width <= 1024px) {
      top: 40px;
      left: 40px;
    }
    @media (min-width: 1025px) {
      top: 23px;
      left: 48px;
    }
  }
}
.contactLayout__form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media (min-width: 768px) {
    position: initial;
    transform: initial;
    justify-self: center;
  }
  @media (min-width: 1025px) {
    margin: 0 auto;
  }
}
