@use "../../styles/settings/variables.scss" as variable;
@use "../../styles/fondation/typography.scss" as typo;

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: url(/public/landinBg.jpg) center/cover no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  @media (min-width: 1025px) {
    padding-bottom: 200px;
  }
}

.heroBanner {
  margin-top: 88px;
  background-color: rgba($color: #fff, $alpha: 0.01);
  backdrop-filter: blur(2px);
  padding: 13px 8px;
  margin-bottom: 53px;
  @media (768px <= width <= 1024px) {
    margin-top: 288px;
    margin-bottom: 164px;
  }
  @media (min-width: 1025px) {
    margin-top: 288px;
    margin-bottom: 229px;
  }
  &__title {
    font-size: variable.$fs-landing-mobile-h1;
    color: variable.$h1-color;
    text-align: center;
    line-height: 39.6px;
    letter-spacing: -2%;
    @media (768px <= width <= 1024px) {
      font-size: variable.$fs-landing-tablet-h1;
    }
    @media (min-width: 1025px) {
      font-size: variable.$fs-landing-desktop-h1;
    }
    &--break {
      @media (min-width: 768px) {
        display: none;
      }
    }
  }
  &__subtitle {
    font-size: variable.$fs-landing-mobile-subtitle;
    font-family: typo.$primary-typography;
    text-align: center;
    margin-top: 24px;
    line-height: 31.2px;
    @media (768px <= width <= 1024px) {
      font-size: variable.$fs-landing-tablet-subtitle;
      line-height: 60px;
      margin-top: 32px;
    }
    @media (min-width: 1025px) {
      font-size: variable.$fs-landing-desktop-subtitle;
      margin-top: 40px;
      line-height: 60px;
    }
    &--break {
      @media (min-width: 768px) {
        display: none;
      }
    }
  }
}
.projectSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: variable.$background-color;
  padding-bottom: 99px;
  &__title {
    font-size: variable.$fs-site-mobile-h2;
    font-family: typo.$primary-typography;
    font-weight: 400;
    margin-top: 24px;
    @media (min-width: 768px) {
      font-size: variable.$fs-site-h2;
      margin-top: 72px;
    }
  }
}
.expertiseSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: #7f824d;
  background-color: #b4c3ae;
  &__title {
    font-size: variable.$fs-site-mobile-h2;
    font-family: typo.$primary-typography;
    font-weight: 400;
    // color: #fff;
    padding-top: 24px;
    margin-bottom: 30px;
  }
}
