@use "../../../styles/settings/variables.scss" as variable;
@use "../../../styles/fondation/typography.scss" as typo;

.formLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 268px;
  height: 320px;
  background-color: rgba($color: variable.$contact-bg-color, $alpha: 0.2);
  border-radius: 16px;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(40px);
  @media (min-width: 768px) {
    width: 458px;
    height: 547px;
    background-color: rgba($color: variable.$contact-bg-color, $alpha: 1);
  }
}
.field {
  padding: 0 34.52px;
  margin-bottom: 16px;
  @media (min-width: 768px) {
    padding: 0 59px;
    margin-bottom: 24px;
  }
  .field__name {
    display: flex;
    gap: 12px;

    input {
      width: 93.6px;
      height: 29.84px;
      border-radius: 4px;
      border: none;
      padding-left: 8px;
      margin-bottom: 8px;
      font-family: typo.$secondary-typography;
      @media (min-width: 768px) {
        width: 100%;
        height: 51px;
      }
    }
  }
  .field__email {
    font-family: typo.$secondary-typography;
    border: none;
    border-radius: 4px;
    height: 29.84px;
    width: 100%;
    padding-left: 8px;
    margin-bottom: 8px;
    @media (min-width: 768px) {
      height: 51px;
    }
  }
  .field__message {
    font-family: typo.$secondary-typography;
    border: none;
    border-radius: 4px;
    width: 100%;
    height: 137.48px;
    padding: 8px 0px 0px 8px;
    @media (min-width: 768px) {
      height: 235px;
    }
  }
}
