@use "../../../styles/settings/variables.scss" as variable;
@use "../../../styles/fondation/typography.scss" as typo;

.CTA {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: variable.$tertiary-color;
  border: none;
  border-radius: 30px;
  padding: 12.5px 19px;
  font-family: typo.$primary-typography;
  font-size: variable.$fs-landing-mobile-cta;
  position: relative;
  cursor: pointer;
  @media (768px <= width <= 1024px) {
    font-size: variable.$fs-landing-tablet-cta;
    padding: 20px;
  }
  @media (min-width: 1025px) {
    font-size: variable.$fs-landing-desktop-cta;
    padding: 17.5px 20px;
  }
}

.rightArrow {
  width: 22px;
  height: 22px;
  @media (768px <= width <= 1024px) {
    width: 25px;
    height: 25px;
  }
  @media (min-width: 1025px) {
    width: 32px;
    height: 32px;
  }
}

.showButton {
  position: relative;
  z-index: 1;
  width: 45px;
  height: 45px;
  border: solid 2px rgba($color: variable.$secondary-color, $alpha: 1);
  border-radius: 50%;
  background-color: variable.$tertiary-color;
  cursor: pointer;
  margin: 0px auto;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);

  &__bar {
    position: absolute;
    width: 26px;
    height: 3px;
    background-color: variable.$secondary-color;
    border-radius: 2px;

    transition:
      transform 0.35s cubic-bezier(0.4, 0, 0.2, 1),
      opacity 0.25s ease;
  }

  &__vertical {
    transform: rotate(90deg);
  }
}
.isActive {
  transform: rotate(180deg);
}
/* état actif */
.isActive .showButton__vertical {
  transform: rotate(90deg) scaleX(0);
  opacity: 0;
}

/****Submit Button ****/
.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 119px;
  height: 27px;
  border: none;
  border-radius: 30px;
  background-color: variable.$secondary-color;
  color: white;
  padding: 8px 0px;
  cursor: pointer;

  font-family: typo.$secondary-typography;
  font-weight: 500;
  font-size: variable.$fs-landing-mobile-cta;
  @media (min-width: 768px) {
    width: 157px;
    height: 62px;
    font-size: variable.$fs-body;
  }
  &__arrow {
    width: 24px;
    height: 24px;
    fill: white;
    @media (min-width: 768px) {
      width: 30px;
      height: 30px;
    }
  }
}
/****Home Button ****/
.homeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 69px;
  height: 69px;
  border-radius: 50%;
  cursor: pointer;

  //glass effect
  background-color: rgba($color: #fff, $alpha: 0.1);
  border: 1px solid rgba($color: #fff, $alpha: 0.2);
  backdrop-filter: blur(4px) saturate(140%) contrast(90%);
  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.3),
    // Reflet de lumière (Light 80%)
    0 4px 30px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  @media (min-width: 768px) {
    width: 80px;
    height: 80px;
  }

  &__logo {
    width: 33px;
    height: 33px;
    color: rgba($color: variable.$secondary-color, $alpha: 0.9);
    @media (min-width: 768px) {
      width: 45px;
      height: 45px;
    }
  }
}
