/****Colors****/
//Main
$primary-color: #dfe2d1;
$secondary-color: #1a201b;
$tertiary-color: #ecdf94;
$background-color: #f9f9f0;

//h1 title
$h1-color: #3c5243;

//NavBar stroke
$nb-stroke-color: #b2b5a7;

/****Typography****/
//Landing-desktop
$fs-landing-desktop-h1: 5rem;
$fs-landing-desktop-subtitle: 2.25rem;
$fs-landing-desktop-navbar: 1.75rem;
$fs-landing-desktop-cta: 1.25rem;

//Landing-tablet
$fs-landing-tablet-h1: 3.75rem;
$fs-landing-tablet-subtitle: 2.25rem;
$fs-landing-tablet-navbar: 1.25rem;
$fs-landing-tablet-cta: 1rem;

//Landing-mobile
$fs-landing-mobile-h1: 2.25rem;
$fs-landing-mobile-subtitle: 1.5rem;
$fs-landing-mobile-navbar: 1rem;
$fs-landing-mobile-cta: 0.875rem;

//Site-desktop & tablet & mobile
$fs-body: 1rem;

//Site-desktop & tablet
$fs-site-h2: 3.05rem;
$fs-site-h3: 2.44rem;
$fs-site-introduction: 1.1rem;

//Site-mobile
$fs-site-mobile-h2: 1.5rem;
$fs-site-mobile-h3: 1.25rem;
