@use "./typography.scss" as typo;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  display: flex;
  place-items: center;
  min-width: 320px;
  max-width: 1440px;
  min-height: 100vh;
}

h1 {
  font-family: typo.$tertiary-typography;
}

h2,
h3,
h4,
li {
  font-family: typo.$primary-typography;
}

a {
  color: inherit;
  text-decoration: none;
}
