@use "../../../styles/settings/variables.scss" as variable;
@use "../../../styles/fondation/typography.scss" as typo;

footer {
  background-color: #2d1e17;

  .footer__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f5f5f5;
    font-size: variable.$fs-site-mobile-h3;
    font-family: typo.$primary-typography;
    padding: 7px 16px;
    @media (min-width: 768px) {
      font-size: variable.$fs-site-h3;
      padding: 15px 128px;
    }
  }
}
