@use "../../../styles/settings/variables.scss" as variable;
@use "../../../styles/fondation/typography.scss" as typo;
.card {
  background-color: #fff;
  border-radius: 18px;
  width: 288px;
  height: 425px;
  margin-bottom: 30px;
  padding: 0 8px 0 16px;
  font-family: typo.$primary-typography;
  @media (min-width: 768px) {
    width: 277px;
    height: 430px;
  }
  @media (768px <= width <= 1024px) {
    margin-bottom: 32px;
  }
  &__logo {
    display: block;
    border: solid 3px black;
    border-radius: 50%;
    width: 73px;
    height: 73px;
    padding: 8px;
    margin: 25px auto 0 auto;
    @media (min-width: 768px) {
      width: 76px;
      height: 76px;
      margin: 43px auto 0 auto;
    }
  }
  &__title {
    font-size: variable.$fs-site-mobile-h3;
    margin-top: 32px;
    font-weight: 500;
    @media (min-width: 768px) {
      font-size: variable.$fs-expertise-site-h3;
      margin-top: 24px;
    }
  }
  &__title::after {
    display: block;
    content: "";
    border: solid 1px black;
    width: 65%;
    margin: 24px auto 16px auto;
    @media (min-width: 768px) {
      width: 60%;
      margin: 16px auto;
    }
  }
  &__txt {
    &--intro {
      line-height: 24px;
      font-weight: 500;
      margin-bottom: 16px;
      @media (min-width: 768px) {
        line-height: 22px;
      }
    }
    &--core {
      line-height: 25.6px;
    }
  }
}
.card:last-child .card__logo {
  background-color: #007acc;
  padding-bottom: 20px;
}
